
__pycache__/
*.pyc
.ipynb_checkpoints/

venv/
.env

target/
dbt_packages/

logs/

data/

requirements.txt
dagster-smoke_test.py
# OS files
.DS_Store
Thumbs.db

# Large data files
*.csv
*.parquet
*.db

.tmp_dagster_home_4ojtbi8m/
.tmp_dagster_home_b6183537/
.tmp_dagster_home_o9t5ixum/
.tmp_dagster_home_uxziz5f1/
.tmp_dagster_home_wdzmtvmc/
.vscode/
.pytest_cache/
